<form action="/payment/results">
  <div>
    <label for="APR">APR</label>
    <input id="APR" type="text" name="APR" placeholder="E.g 5.42">
  </div>
  <div>
    <label for="num_years">Number of years</label>
    <input id="num_years" type="text" name="num_years" placeholder="How many years to repay?">
  </div>
    <div>
    <label for="principal">Principal</label>
    <input id="principal" type="text" name="principal" placeholder="How much principal?">
  </div>
  <button>Calculate monthly payment</button>
</form>
