<form action="/square_root/results">
  <div>
    <label for="num_to_square_root">Enter a number</label>
    <input id="num_to_square_root" type="text" name="num_to_square_root" placeholder="What number do you want to square root?">
  </div>
  <button>Calculate square root</button>
</form>
