<form action="/square/results">
  <div>
    <label for="num_to_square">Enter a number</label>
    <input id="num_to_square" type="text" name="num_to_square" placeholder="What number do you want to square?">
  </div>
  <button>Calculate square</button>
</form>
